*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color:white;
}

.container{
    padding: 5% 5% 20% 5%;
    width: 96%;
    height: 96%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    'controladores'
    'sistema';
    row-gap: 15%;
}

.sistema{
    grid-area: sistema;
    position: relative;
    width: 80%;
    height: 80%;
    margin: 10% 10% 10% 5%;
    border-top: 0.3em solid black;
    border-right: 0.3em solid black;
}

.sistema .entrada{
    border: 0.3em solid black;
    position: absolute;
    top: -17.5%;
    left: -5%;
    width: 8%;
    height: 35%;
    background-color: white;
}

.sistema .entrada .primeirodiv{
    border-top: .2em solid black;
    position: absolute;
    top: 75%;
    left: 25%;
    width: 28%;
}

.sistema .entrada .segundodiv{
    border-left: .2em solid black;
    position: absolute;
    top: 25%;
    left: 50%;
    height: 50%;
}

.sistema .entrada .terceirodiv{
    border-top: .2em solid black;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 25%;
}

.sistema .auxiliar{
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    border-bottom: 0.3em solid black;
    border-left: 0.3em solid black;
}

.sistema .somador{
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: -1.5vw;
    left: calc(20% - 1.5vw);
    border: 0.3em solid black;
    border-radius: 50%;
    background-color: white;
}

.sistema .somador .mais1{
    border-right: 0.2em solid black;
    height: 1em;
    position: absolute;
    top: calc(50% - .6em);
    left: 0.7em;
}

.sistema .somador .mais2{
    border-bottom: 0.2em solid black;
    width: 1em;
    position: absolute;
    top: calc(50% - .2em);
    left: 0.3em;
}

.sistema .somador .menos{
    border-bottom: 0.2em solid black;
    width: 1em;
    position: absolute;
    bottom: 0.3em;
    left: calc(50% - .5em);
}

.sistema .funcao{
    position: absolute;
    border: 0.3em solid black;
    width: 15%;
    height: 35%;
    top: -17.5%;
    right: 15%;
    background-color: white;
    cursor: pointer;
}

.sistema .controlador{
    position: absolute;
    border: 0.3em solid black;
    width: 15%;
    height: 35%;
    top: -17.5%;
    right: 45%;
    background-color: white;
    cursor: pointer;
}

.sistema .ligacao{
    border-top: 0.3em solid black;
    position: absolute;
    top: -.25em;
    left: 100%;
    width: 20%;
}

.sistema .scope{
    position: absolute;
    left: 114%;
    top: -20%;
    width: 6%;
    height: 40%;
    border: 0.3em solid black;
    background-color: white;
}

.sistema .scope .visor{
    position: inherit;
    width: 80%;
    height: 25%;
    left: 10%;
    top: 10%;
    border: 0.2em solid black;
    pointer-events: none;
}

button{
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 3em;
    cursor: pointer;
}

.funcao:hover{
    background-color: beige;
}

.controlador:hover{
    background-color:mediumturquoise;
}

.scope:hover{
    background-color: chocolate;
}

.funcaoAberta{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 20%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    display: none;
    border: 1px solid black;
}

.funcaoAberta .titulo{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 8px;
}

.funcaoAberta .fechar{    
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.funcaoAberta .fechar button{
    font-size: medium;
    border: none;
}

.funcaoAberta label{
    padding: 16px;
}

.funcaoAberta input{
    margin: 16px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.controladorAberto{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 20%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    display: none;
    border: 1px solid black;
}

.controladorAberto .titulo{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 8px;
    cursor: grab;
}

.controladorAberto .fechar{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.controladorAberto .fechar button{
    font-size: medium;
    border: none;
}

.controladorAberto label{
    padding: 16px;
}

.controladorAberto input{
    margin: 16px;
    grid-column-start: 2;
    grid-column-end: 4;
}

a{
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 1%;
    background-color:bisque;
    cursor: pointer;
}

.atual{
    color: white;
    background-color: black;
    pointer-events: none;
}

#helpAberto{
    background-color: white;
    position: absolute;    
    top: 15%;
    left: 25%;
    width: 40%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 9fr 1fr;
    display: none;
}

#helpAberto .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 8px;
    cursor: grab;
}

#helpAberto .fechar{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#helpAberto .fechar button{
    font-size: medium;
    border: none;
}

#helpAberto .help-menu {
    list-style: none;
    padding: 16px;
    grid-column-start: 1;
    grid-column-end: 3;
}

#helpAberto .help-menu-item {
    cursor: pointer;
}

#helpAberto .content {
    display: none;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 16px;
    line-height: 1.2em;
}

#helpAberto .content p{
    margin-top: 1.5em;
}

#helpAberto .content h3, #helpAberto .content h2{
    margin-top: 1.5em;
}

#helpAberto .back-btn {
    cursor: pointer;
    display: none;
}